<div>
    <!--  loops through all posts-->
      <ul class="posts">
           <li ng-repeat="post in top.posts"
              <item id="post"></item>
           </li>
      </ul>


      <div>
        <!--  provides pagination functionality previous/next-->
            <ul class="pagination">
                <li ng-if="top.page > 0">
                      <a href="" ng-click="top.previousPage()">
                            << Previous
                      </a>
                </li>
                <li ng-if="top.page < top.totalPages - 1">
                         <a href="" ng-click="top.nextPage()">
                                Next >>
                         </a>
                </li>
            </ul>
                <div style="clear: both;"></div>
      </div>
</div>
