<div>

    <ol start="{{ top.counter }}">
      <li ng-repeat="story in top.thisPage | orderBy: 'rank' ">
        <p><a href="{{ story.url }}">{{ story.title }}</a></p>
        <p>{{ story.score }} points | <a ui-sref="post({id: {{ story.id}} })">{{ story.descendants }} comments</a></p>
      </li>
    </ol>

    <p class="pagination"><a href="" ng-if="top.counter > 30" ng-click="top.navigate('previous')"><< Previous</a>
      <a href="" ng-click="top.navigate('next')">Next >></a></p>
    <div style="clear: both;"></div>

</div>
