<div>
  <div class="header">
    <p>{{ctrl.pages}} pages | Page: {{ctrl.currentPage}}  </p>
    <div class="pagination">
      <ul>
      <li><a href='#' ng-click="ctrl.nextPage()">Next Page</a></li>
      <li><a href='#' ng-click="ctrl.previousPage()">Previous Page</a>
      <ul>
    </div>
  </div>

  <div class="posts" ng-repeat="story in ctrl.topStories track by story.id">
    <h2 class="post__title">{{ $index + 1 }} {{ story.title }} <a ng-href="{{story.url}}">Link</a></h2> 
    <p class="post__description">Score: {{story.score}} | {{story.kids.length}} Comments | By: {{story.by}} | Posted: {{story.time}}  <a ui-sref="post({id: {{story.id}} })">Read More </a>  </p>
   
  </div>

  <div class="pagination">
    <ul>
    <li><a href='#' ng-click="ctrl.nextPage()">Next Page</a></li>
    <li><a href='#' ng-click="ctrl.previousPage()">Previous Page</a>
    <ul>
  </div>

</div>