Post State Template<br />
    <!-- Form of "item" hash:
      by:"cpeterso"
      descendants:150
      id:12541383
      kids:Array[27]
      score:210
      time:1474393105
      title:"What It Costs to Run Let's Encrypt"
      type:"story"
      url:"https://letsencrypt.org/2016/09/20/what-it-costs-to-run-lets-encrypt.html" -->
<a href="{{ post.data.url }}" target="_blank">
  {{ post.data.title }}
</a>
<br />
More:
<a href="" ui-sref="post({ id: post.data.id })">
  {{ post.data.descendants }} comments and {{ post.data.score }} points
</a>
<ul>
  <li ng-repeat="comment in post.data.kids">
    <item id="comment"></item>
  </li>
</ul>    
